
@{
    ViewData["Title"] = "DinucCalc";
}

<h5>DinucCalc</h5>

<a>@ViewBag.testReturn</a>

<br />

<table class="table">
    <thead>
        <tr class="row">
            @foreach (var item in ViewBag.DiTable.Dinuc)
            {
                <th style="width: 6.25%">@item</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr class="row">
            @foreach (var item in ViewBag.DiTable.DinucCountFirstFrame)
            {
                <td style="width: 6.25%">@item</td>
            }
        </tr>
        <tr class="row">
            @foreach (var item in ViewBag.DiTable.DinucCountSecondFrame)
            {
                <td style="width: 6.25%">@item</td>
            }
        </tr>
        <tr class="row">
            @foreach (var item in ViewBag.DiTable.DinucFrqFirstFrame)
            {
                <td style="width: 6.25%">@item</td>
            }
        </tr>
        <tr class="row">
            @foreach (var item in ViewBag.DiTable.DinucFrqSecondFrame)
            {
                <td style="width: 6.25%">@item</td>
            }
        </tr>
        <tr class="row">
            Dinuc frequences diff: @ViewBag.DiTable.DinucFrqDiff
        </tr>
    </tbody>
</table>

